body,html{
    height: 100%;
    width: auto;
    margin: 0;
    background-color: #fd5252;
    font-family: "Sigmar One", sans-serif;
}

header{
    background-color: #c74444;
    position: fixed;
    top: 0;
    width: 100%;
    flex-direction: column;
    text-align: center;
}

header>img{
    width: 10em;
}

header>input{
    width: 15em;
    height: 2em;
    color: white;
    background-color:transparent;
    border: 2px solid white;
    text-align: center;
    margin: 0;
}

header>input::placeholder{
    color: white;
}

hr{
    display: flex;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: white ;
    margin: 0;
}

main{
    height: 100%;
    width: 100%;
}

.lista-pokemones{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: .8em;
}

.lista-pokemones-simple{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: .8em;
}

.contenedor-lista-pokemones{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

article{
    background-color: white;
    border: 1px solid black;
    border-radius: 2%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.7);
    height: 5em;
    width: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 3em;
}

article:hover{
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.5);
    transform: scale(1.1, 1.1);
}

article img{
    height: 20em;
}

footer{
    background-color: #c74444;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#botones-paginas{
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: .5em;
    margin-top: .5em;
    gap: 1em;
}

#botones-paginas > button{
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#botones-paginas > input{
    width: 30px;
    color: white;
    background-color: transparent;
    border: none;
    text-align: center;
}

#botones-paginas > input::-webkit-outer-spin-button,
#botones-paginas > input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

#modal{
    position: absolute;
    padding: 1em;
    width: 30em;
    height: 30em;
    border: 1px solid black;
    border-radius: 3%;
    background-color: white;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

#imagen-modal{
    border-radius: 4%;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.7);
}

#cerrar-modal{
    position: absolute;
    top: .8em;
    right: 1em;
    width: 2em;
}

.oculto{
    display: none;
}

.filtrado {
    filter:blur(3px);
}

#contenedor-modal{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
}

@media (max-width:1300px){
    #lista-pokemones{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: .8em;
        margin-top: 20px;
        margin-bottom: 50px;
    }
}

@media (max-width:900px){
    #lista-pokemones{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: .8em;
        margin-top: 20px;
        margin-bottom: 50px;
    }
}