body,html{
    margin: 0;
    background-color: #fd5252;
    font-family: "Sigmar One", sans-serif;
}

header{
    background-color: #c74444;
    position: fixed;
    top: 0;
    width: 100%;
    height: 3em;
    flex-direction: row;
    text-align: center;
    display: flex;
    align-items: center;
    border-bottom: 2px solid white;
    padding: .7em;
}

#logo-pokemon{
    width: 10em;
    cursor: pointer;
}

#barra-busqueda{
    width: 12em;
    height: 2em;
    color: white;
    background-color:transparent;
    border: 2px solid white;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 1.5em;
    right: 5em;
}

#barra-busqueda::placeholder{
    color: white;
}

#boton-barra-busqueda{
    width: 3em;
    height: 2.5em;
    color: white;
    background-color:transparent;
    border: 2px solid white;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 1.5em;
    right: 18em;
    cursor: pointer;
}

main{
    height: 100%;
    width: 100%;
}

.lista-pokemones{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 1.5em;
}

.lista-pokemones-simple{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: .8em;
}

.contenedor-lista-pokemones{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6em;
}

.pokemon-articulo{
    background-color: white;
    border: 1px solid black;
    border-radius: 2%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.7);
    height: 5em;
    width: 17em;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 3em;
    cursor: pointer;
}

.pokemon-articulo:hover{
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.5);
    transform: scale(1.1, 1.1);
}

footer{
    background-color: #c74444;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid white;
    font-family: Arial, sans-serif;
    color: white;
    font-size: 14px;
}

#botones-paginas{
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: .5em;
    margin-top: .5em;
    gap: 1em;
}

#botones-paginas > button{
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

#botones-paginas > input{
    width: 1.7em;
    color: white;
    background-color: transparent;
    border: none;
    text-align: center;
}

#botones-paginas > input::-webkit-outer-spin-button,
#botones-paginas > input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

#modal{
    position: absolute;
    padding: 1em;
    width: 30em;
    height: 30em;
    border: 1px solid black;
    border-radius: 3%;
    background-color: white;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

#imagen-modal{
    border-radius: 4%;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.7);
}

#cerrar-modal{
    position: absolute;
    top: .8em;
    right: 1em;
    width: 2em;
}

.oculto{
    display: none;
}

.filtrado {
    filter:blur(3px);
}

#contenedor-modal{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
}

@media (max-width:1300px){
    .lista-pokemones{
        height: 75%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: .8em;
        margin-top: 20px;
        margin-bottom: 50px;
    }


    #modal{
        position: absolute;
        padding: 1em;
        width: 20em;
        height: 30em;
        border: 1px solid black;
        border-radius: 3%;
        background-color: white;
        text-align: center;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        display: flex;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
    }

    footer{
        background-color: #c74444;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: 2px solid white;
    }
}

@media (max-width:900px){
    .lista-pokemones{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: .8em;
        margin-top: 20px;
        margin-bottom: 50px;
    }
}

@media (max-width:350px){
    header>input{
        display: none;
    }
}