h1{
    text-align: center;
}

li{
    list-style: none;
}

#lista-pokemones{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

article{
    text-align: center;
    border: 1px solid black;
    height: 250px;
    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

article img{
    height: 180px;
}