body,html{
    height: 100%;
    width: auto;
    background-color: #fd5252;
    overflow: hidden;
}

header{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

header>img{
    width: 8em;
}

hr{
    display: flex;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: white ;
}

main{
    height: 80%;
    width: 100%;
}

#lista-pokemones{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: .8em;
    margin-top: 20px;
    margin-bottom: 50px;
}

article{
    background-color: white;
    border: 1px solid black;
    border-radius: 2%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.7);
    height: 5em;
    width: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
}

article:hover{
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.5);
    transform: scale(1.1, 1.1);
}

article img{
    height: 20em;
}

footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 3em;
}

#botones-paginas{
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    gap: 1em;
}

#botones-paginas > button{
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    text-align: center;
}