header{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

hr{
    display: flex;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: black ;
    border: 1px solid black;
}
.contenedor-lista-pokemones{
    width: 80%;
    height: 80%;
    margin: auto;
}

#lista-pokemones{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: columns;
    margin: 70px;
    margin-top: 50px;
    gap: 25px;
}

article{
    border-radius: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 8px;
    margin-left: 34px;

}

article:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

article img{
    height: 180px;
}